.expense-container .expense {
  height: 70%;
  width: 95%;
}

.expense-container .add-expense {
  margin-top: 1.4rem;
  height: 15%;
  width: 85%;
  padding: 2rem;
}

.expense-field-title {
  width: 25%;
}
.expense-field-number {
  width: 15%;
  margin-right: 0;
}
.expense-field-vendor {
  width: 25%;
}
.add-expense-btn {
  height: 48px;
  width: 20%;
  background-color: var(--sidebar-list-bg);
  color: #fff;
  border-radius: 40px 40px 10px 40px;
  box-shadow: 0 6px 20px -10px var(--sidebar-list-bg);
  font-size: 15px;
  cursor: pointer;
  transition: var(--transition-2);
}
.add-expense-btn:hover {
  box-shadow: none;
}
.expense-field {
  margin-right: 2rem;
  font-size: 15px !important;
}
.expense-field::placeholder {
  opacity: 0.3 !important;
  letter-spacing: 0.8px;
}
.expense-btn-card {
  width: 5%;
  height: 15%;
}
