.profile {
  width: 100%;
  display: flex;
  padding: 4rem;
}

.profile,
button,
.field {
  font-family: 'Poppins', sans-serif;
}
.left-profile {
  width: 50%;
}

/* Right Side CSS */

.right-profile {
  width: 50%;
  margin: 2rem;
}
