.error-container {
  display: flex;
  height: 100vh;
  place-items: center;
}

.error-container button {
  background-color: #fff;
  padding: 0.3rem 0.5rem;
  color: var(--blue);
  border-radius: 6px;
  cursor: pointer;
}

.error-container button:hover {
  background-color: var(--blue);
  color: #fff;
}
